<form [formGroup]="form">

  <mat-card appearance="outlined">

    <mat-card-header>
      <mat-card-title>
        <h3>Registro de Vehículo</h3>
      </mat-card-title>
      <mat-card-subtitle style="color: #fff;">Ingrese la información</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>

      <div class="form-row">

        <!-- Placa -->
        <mat-form-field appearance="outline">
          <mat-label>Placa o matrícula</mat-label>
          <input matInput formControlName="placa">

          <mat-error *ngIf="form.get('placa')?.hasError('required')">
            La placa es obligatoria
          </mat-error>

          <mat-error *ngIf="form.get('placa')?.hasError('minlength')">
            Mínimo 5 caracteres
          </mat-error>
        </mat-form-field>

        <!-- Tipo vehículo -->
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Vehículo</mat-label>

          <mat-select formControlName="idTipoVehiculo" class="cardIndividual">
            <mat-option *ngFor="let item of tipoVehiculoList" [value]="item.idTipoVehiculo">
              {{ item.tipoVehiculoDescripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Checkbox -->
        <mat-checkbox formControlName="ley7600">
          Ley 7600
        </mat-checkbox>

      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="guardarVehiculoCampo()">
        <mat-icon>save</mat-icon>
        Registrar
      </button>
    </mat-card-actions>

  </mat-card>

  <br>
  <mat-card>

    <mat-card-header>
      <mat-card-title>
        <h3>Listado de vehiculos registrados</h3>
      </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar matrícula" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource">

          <!-- ID -->
          <ng-container matColumnDef="idVehiculoCampo">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">
              {{ element.idVehiculoCampo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="descripcionTipoVehiculo">
            <th mat-header-cell *matHeaderCellDef> Descripcion tipo vehiculo </th>
            <td mat-cell *matCellDef="let element">
              {{ element.descripcionTipoVehiculo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef> Matricula </th>
            <td mat-cell *matCellDef="let element">
              {{ element.matricula }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fechaProceso">
            <th mat-header-cell *matHeaderCellDef> Fecha proceso </th>
            <td mat-cell *matCellDef="let element">
              {{ element.fechaProceso }}
            </td>
          </ng-container>

          <ng-container matColumnDef="montoPrecioColones">
            <th mat-header-cell *matHeaderCellDef> Precio colones </th>
            <td mat-cell *matCellDef="let element">
              {{ element.montoPrecioColones }}
            </td>
          </ng-container>

          <ng-container matColumnDef="montoPrecioDolares">
            <th mat-header-cell *matHeaderCellDef> Precio dólares </th>
            <td mat-cell *matCellDef="let element">
              {{ element.montoPrecioDolares }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>

            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="actualizarVehiculoCampo(element)">
                Seleccionar
              </button>
            </td>
          </ng-container>


          <!-- HEADER -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <!-- ROWS -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

      </div>


    </mat-card-content>

    <mat-card-actions align="end">

    </mat-card-actions>

  </mat-card>


</form>